################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BasketIQ.API/.vs/BasketIQ.API.slnx/FileContentIndex/0f8a71c9-76ba-4906-b424-4a07916d7697.vsidx
/BasketIQ.API/.vs/BasketIQ.API.slnx/FileContentIndex/5f7aefc6-3575-4695-9989-412b42677aa6.vsidx
/BasketIQ.API/.vs/BasketIQ.API.slnx/FileContentIndex/6856be2b-cb6e-4317-9055-6469095e8a82.vsidx
/BasketIQ.API/.vs/BasketIQ.API.slnx/FileContentIndex/d1fc2e99-7716-4084-84b6-e81e1e0aa9e9.vsidx
/BasketIQ.API/.vs/BasketIQ.API.slnx/v18/.suo
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.AssemblyInfo.cs
/BasketIQ.API/obj/Debug/net10.0/BasketIQ.API.AssemblyInfoInputs.cache
/BasketIQ.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/BasketIQ.API/obj/BasketIQ.API.csproj.nuget.dgspec.json
/BasketIQ.API/obj/project.assets.json
/BasketIQ.API/obj/project.nuget.cache
/BasketIQ.API/obj/Release/net10.0/BasketIQ.API.AssemblyInfo.cs
/BasketIQ.API/obj/Release/net10.0/BasketIQ.API.AssemblyInfoInputs.cache
